---
import PostLayout from '../layouts/PostLayout.astro';
import { formatMonthYear, getAllPosts, groupPostsByTag } from '../lib/content';

const posts = await getAllPosts();
const grouped = groupPostsByTag(posts);
---

<PostLayout title="Blog Archive">
  {grouped.map(({ tag, items }) => (
    <>
      <h3>{tag}</h3>
      <ul>
        {items.map((post) => (
          <li>
            <a href={post.data.legacyPath}>
              {formatMonthYear(post.data.date)} - {post.data.title}
            </a>
          </li>
        ))}
      </ul>
    </>
  ))}
</PostLayout>
