---
import PostList from '../components/PostList.astro';
import PostLayout from '../layouts/PostLayout.astro';
import { getPostsByField } from '../lib/content';

const fields = await getPostsByField();
---

<PostLayout title="Paper Summaries by Field">
  {fields.map(({ field, items }) => (
    <>
      <h2>{field}</h2>
      <PostList posts={items} />
    </>
  ))}
</PostLayout>
