---
import LinkList from '../components/LinkList.astro';
import PostLayout from '../layouts/PostLayout.astro';
import { formatShortDate, getPostsByField } from '../lib/content';

const fields = await getPostsByField();
---

<PostLayout title="Paper Summaries by Field">
  {fields.map(({ field, items }) => (
    <>
      <h2>{field}</h2>
      <LinkList
        items={items.map((post) => ({
          href: post.data.legacyPath,
          label: post.data.title,
          meta: formatShortDate(post.data.date),
        }))}
        class="icon-list"
      />
    </>
  ))}
</PostLayout>
