---
import PostLayout from '../layouts/PostLayout.astro';
---

<PostLayout title="Revision Notes">
  <h2>CS336: Language Modeling from Scratch</h2>
  <p><a href="https://stanford-cs336.github.io/spring2025/">Course website</a></p>
  <p>
    This is probably the best intuition building language modeling course around. I'm sharing
    notes for each lecture here.
  </p>
  <ul>
    <li>
      Lesson 2 –
      <a href="/revision notes/2025/05/15/cs336-revision-notes.html">My notes</a>
      {' / '}
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">YouTube</a>
      {' / '}
      <a href="https://stanford-cs336.github.io/spring2025/lectures/2">Course material</a>
    </li>
    <li>
      Lesson 3 –
      <a href="/revision notes/2025/05/22/cs336-lecture-3.html">My notes</a>
      {' / '}
      <a href="https://www.youtube.com/watch?v=ptFiH_bHnJw">YouTube</a>
      {' / '}
      <a href="https://github.com/stanford-cs336/spring2024-lectures/blob/main/nonexecutable/Lecture%203%20-%20architecture.pdf"
        >Slides</a
      >
    </li>
  </ul>
</PostLayout>
