<button type="button" id="music-button" class="small-rounded-button">
  <i class="fas fa-music"></i>
  Play some music while browsing...
</button>
<div id="music-bar"></div>
<script is:inline src="/assets/js/music-launcher.js"></script>
