---
import Icon from './Icon.astro';
---

<button type="button" id="music-button" class="small-rounded-button">
  <Icon name="music" class="button-icon music-button-icon" />
  Play some music while browsing...
</button>
<div id="music-bar"></div>
<script is:inline src="/assets/js/music-launcher.js"></script>
