<!-- _layouts/post.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/css/override.css">
    <!-- override.css is where you can define custom styling -->
  </head>
  <body>

    <!-- Dark/Light Toggle Button -->
    <button type="button" id="theme-toggle" class="custom-button">
      Toggle Theme
    </button>

    <!-- Button to Go Back/Home -->
    <button type="button" id="home-button" class="custom-button">
      Go Home
    </button>

    <main class="page-content" style="max-width:800px; margin:2rem auto;">
      {{ content }}
    </main>

    <script>
      // Toggle Theme
      const toggleButton = document.getElementById('theme-toggle');
      toggleButton.addEventListener('click', () => {
        const html = document.documentElement;
        if (html.getAttribute('data-theme') === 'dark') {
          html.setAttribute('data-theme', 'light');
        } else {
          html.setAttribute('data-theme', 'dark');
        }
      });

      // Go Home
      const homeButton = document.getElementById('home-button');
      homeButton.addEventListener('click', () => {
        window.location.href = '/';
      });
    </script>
  </body>
</html>
