<!-- _layouts/post.html -->
<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/css/override.css">
    <!-- override.css is where you can define custom styling -->
  </head>
  <body>
    <!-- Dark/Light Toggle Button -->
    <button type="button" id="theme-toggle" class="small-rounded-button">
      Light Mode
    </button>

    <!-- Button to Go Back/Home -->
    <button type="button" id="home-button" class="small-rounded-button">
      Go Home
    </button>

    <button type="button" id="music-button" class="small-rounded-button">
      Play some music while browsing...
    </button>
    <div
      id="music-player"
      style="display:none; position:fixed; bottom:20px; left:20px; z-index:1000;"
    >
      <div style="margin-bottom:4px; text-align:center;">
        <button id="choose-spotify" class="music-choice">Spotify</button>
        <button id="choose-youtube" class="music-choice">YouTube</button>
        <button id="close-music-player" class="music-choice">Close</button>
        <button id="toggle-music-player" class="music-choice">Minimize</button>
      </div>
      <iframe
        id="music-iframe"
        style="border-radius:12px"
        src="https://open.spotify.com/embed/playlist/4RHYceSp9R1bHyL0dDqTuQ?utm_source=generator&theme=0"
        width="250"
        height="80"
        frameborder="0"
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      ></iframe>
    </div>

    <main class="page-content" style="max-width:800px; margin:2rem auto;">
      {{ content }}
    </main>

    <script>
      // Toggle Theme
      const toggleButton = document.getElementById('theme-toggle');
      const html = document.documentElement;

      function updateToggleText() {
        if (html.getAttribute('data-theme') === 'dark') {
          toggleButton.textContent = 'Light Mode';
        } else {
          toggleButton.textContent = 'Dark Mode';
        }
      }

      updateToggleText();

      toggleButton.addEventListener('click', () => {
        if (html.getAttribute('data-theme') === 'dark') {
          html.setAttribute('data-theme', 'light');
        } else {
          html.setAttribute('data-theme', 'dark');
        }
        updateToggleText();
      });

      // Go Home
      const homeButton = document.getElementById('home-button');
      homeButton.addEventListener('click', () => {
        window.location.href = '/';
      });

    </script>
    <script src="/assets/js/music.js"></script>
  </body>
</html>
